.background-opacity-100 {
    background-color: rgb(20, 158, 207);
    opacity: 1;
}
.background-opacity-60 {
    background-color: rgb(20, 158, 207);
    opacity: 0.6;
}
.background-opacity-30 {
    background-color: rgb(20, 158, 207);
    opacity: 0.3;
}
.background-opacity-10 {
    background-color: rgb(20, 158, 207);
    opacity: 0.1;
}

.background-img {
    /* background shorthand helper:
        background: background-color background-image background-repeat background-attachment background-position
    */
    background: url("https://quera.ir/qbox/view/vmLhQALHqj/logo-q.0-3aee17faf53e%20(1)%20(1).svg") no-repeat fixed right;
    height: 100px;
}

.border-style-1 {
    border: 1px solid black;
}
.border-style-2 {
    border-bottom: 1px solid red;
}
.border-style-3 {
    border: 1px solid grey;
    border-radius: 16px;
}
.border-style-4 {
    background-color: #dcfdfe;
    border-width: 3px;
    border-left: 6px solid #2196F3;
}

.border-dotted {
    border-style: dotted;
}

/*
    border shorthand
    border: border-width border-style border-color;
*/


.font {
    font-family: 'Tahoma';
    font-size: 18px;
    font-weight: bold;
}

.text_align {
    text-align: center;
}

/* this is how we import fonts in css*/
@font-face {
    font-family: "IranSans";
    src:
            url("fonts/IranSans.woff2") format("woff2"),
            url("fonts/IranSans.woff") format("woff");
}

/* pseudo classes */
/*
    :link
    :visited
    :hover
    :focus
    :active
*/

a:link {
    background-color: #2196F3;
}



/* list styles */
ol {
    line-height: 2;
    list-style-type: arabic-indic;
    list-style-position: inside;
}

ul {
    list-style-image: url('star.svg');
}


/* padding */
#padding {
    width: 300px;
    background-color: lightcyan;
    border: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* padding shorthand */
    /* padding: top right bottom left; */
}

p {
    border: 1px solid black;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 60px;
    margin-bottom: 60px;
    /* margin shorthand */
    /* margin: top right bottom left; */
}