.background-opacity-100 {
    background-color: rgb(20, 158, 207);
    opacity: 1;
}
.background-opacity-60 {
    background-color: rgb(20, 158, 207);
    opacity: 0.6;
}
.background-opacity-30 {
    background-color: rgb(20, 158, 207);
    opacity: 0.3;
}
.background-opacity-10 {
    background-color: rgb(20, 158, 207);
    opacity: 0.1;
}

.background-img {
    /* background shorthand helper:
        background: background-color background-image background-repeat background-attachment background-position
    */
    background: url("https://quera.ir/qbox/view/vmLhQALHqj/logo-q.0-3aee17faf53e%20(1)%20(1).svg") no-repeat fixed right;
    height: 100px;
}

.border-style-1 {
    border: 1px solid black;
}
.border-style-2 {
    border-bottom: 1px solid red;
}
.border-style-3 {
    border: 1px solid grey;
    border-radius: 16px;
}
.border-style-4 {
    background-color: #dcfdfe;
    border-width: 3px;
    border-left: 6px solid #2196F3;
}

.border-dotted {
    border-style: dotted;
}

/*
    border shorthand
    border: border-width border-style border-color;
*/